* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    /* background-color: #ffffff2a; */
    font-family: 'Open Sans', sans-serif;
  }
  .main {
    padding: 2rem;
  }
  .main h1 {
    margin-bottom: 2rem;
  }
  .main .back{
    color: orange;
    font-size: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .main .back:hover{
    color: #222;
  }
  .cart-item img {
    height: 100px;
    width: 80px;
  }
  .cart-item {
    height: fit-content;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .cart-item button {
    font-size: 2rem;
  }
  .cart-item .title {
    width: 20%;
    display: block;
  }
  .cart-item .price {
    width: 10%;
  }
  .cart-item .quantity {
    width: 20%;
  }
  .cart-item .total {
    width: 10%;
  }
  .cart-item button {
    border: none;
    background: transparent;
  }
  
  .checkoutBtn {
    border: none;
    background: transparent;
  }
  .chk button {
    width: 100%;
    background-color: blueviolet;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  .cart-section {
    padding: 2rem;
    background-color: #fff;
    /* width: 1000p   x; */
    height: fit-content;
    border-radius: 5px;
  }
  .del{
    color: black;
    border: none;
    background: none;
    transition: all 0.5s ease;
  }
  .del:hover{
    color: orange;
  }
  /* #show {
    width: 1200px;
  } */

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .head button {
    font-weight: 500;
    height: 5rem;
    width: 5rem;
    color: red;
    border: none;
    background-color: transparent;
  }
  #totalAmount {
    background-color: #4064ad;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #000000;
    text-align: center;
  }
  .head .sweep{
    height: 4rem;
    color: orange;
    font-size: 3rem;
    transition: all 0.5s ease
  }
  .head .sweep:hover{
    color: orange
  }
  .head h1{
    color: #fff;
  }
  .logo img{
    height: 30px;
    margin-top: -1.9rem;
    background-color: black;
  }
  .logo h1{
    color: #222;
  }
  .chkBtn.chkBtn{
    color: rgb(0, 0, 0);
    background-color: orange;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .chkBtn.chkBtn:hover{
    color: #fff;
  }
  .tableImg{
    width: 50%;
    height: 150px;
  }
 table {
  width: 1000px;
 }
 .plus{
  border: none;
  background-color: #222;
  color: #fff;
 }
 .minus{
  border: none;
  background-color: #222;
  color: #fff;
 }

@media (max-width: 414px) {

  table {
    padding: 0;
    margin: 0;
    width: 90%;
    font-size: 16px;
  }
  th, td {
    padding: 4px;
  }
 
  .tableImg{
    width: 100%;
   height: 100%;
  }
  .tableName{
    font-size: 0.8rem;
  }
  .main{
    background-color: rgb(94, 255, 0);
    padding: 0;
    width: fit-content;
    /* height: 100vh; */
    /* overflow-x: hidden; */
  }
.cart-section{
  /* background-color: red; */
  width: 100%;
  margin: 0;
}

}