* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    rgba(255, 192, 203, 0.639),
    rgba(255, 166, 0, 0.642)
  );
}
.item img {
  height: 120px;
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
.item img:hover {
  transform: scale(1.2);
  border-radius: 10px;
}
.item {
  height: fit-content;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px #ffffff32;
  position: relative;
}
* .itemContainer {
  margin-left: 3rem;
  width: 20%;
}
#show {
  display: flex;
  row-gap: 1.5rem;
  flex-wrap: wrap;
}
.imgDiv {
  text-align: center;
  width: 100%;
}
/* NAV */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(38, 38, 36);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 999999;
  padding: 1rem;
  position: relative;
}
.navItems input {
  width: 500px;
  height: 2rem;
  position: relative;
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
}
.navItems .search{
  position: absolute;
  top: 38%;
  right: 45%;
  height: 3rem;
  color: red;
}
.navItems  {
 display: flex;
 align-items: center;
 gap: 2rem;

}
.account {
  padding: 0.5rem;
  background-color: rgba(73, 63, 63, 0.653);
  border-radius: 5px;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.account:hover{
  background-color: rgba(73, 63, 63, 0.861);
}

/* CART */

.cart ion-icon:hover {
  color: rgb(233, 133, 44);
}
.cart ion-icon {
  font-size: 2rem;
  color: rgb(238, 231, 231);
}
.cart span {
  font-size: 1rem;
  color: rgb(238, 231, 231);
}
.cart a {
  text-decoration: none;
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
/* ASIDE */

.aside {
  position: sticky;
  left: 0;
  width: 15%;
  box-shadow: 0px 2px 2px 2px rgba(238, 231, 231, 0.253);
  height: 80vh;
  top: 10%;
  padding: 1rem;
  background-color: rgba(73, 63, 63, 0.508);
}
.aside h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.asideItems {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  /* padding: 1rem; */
}
.asideItems button {
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.asideItems button:hover {
  background-color: rgb(233, 133, 44);
}
.rightPage {
  width: 85%;
}
.mainPage {
  display: flex;
}

.category {
  width: 40%;
}
.category img {
  width: 100%;
}

/* CAROUSEL */
.mainImage {
  width: 1000px;
  height: 400px;
  border-radius: 10px;
}
.btnleft {
  position: absolute;
  font-weight: 600;
  font-size: 2rem;
  bottom: 50%;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}
.btnright {
  position: absolute;
  font-weight: 600;
  bottom: 50%;
  right: 14%;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  background: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}
.btnleft:hover,
.btnright:hover {
  color: rgba(255, 0, 0, 0.566);
}
.carousel {
  padding: 1rem;
  position: relative;
  margin: 0 0 3rem 3rem;
}
/* TITLE */
.shop {
  margin: 2rem 0 2rem 4rem;
}
.shop h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.head {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.item .title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  white-space: nowrap;
}

.item .price {
  font-size: 1.7rem;
}
.priceCart {
  background-color: pink;
  display: flex;
  gap: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}
.priceCart button {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  width: 100%;
  color: rgba(0, 128, 0, 0.815);
  font-weight: 600;
  padding: 0.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.priceCart button:hover {
  color: rgba(255, 0, 0, 0.566);
}
::-webkit-scrollbar {
  display: none;
  transition: all 0.5s ease-in-out;
}
footer p {
  margin-top: 1rem;
}
footer a {
  text-decoration: none;
  color: rgb(24, 24, 24);
}
hr {
  width: 100%;
  font-weight: 600;
}

/* CATEGORIES */

.category {
  margin-left: 3rem;
  width: 20%;
}
.category .item {
  height: 100%;
}
#mensShow {
  padding: 1rem 1rem 4rem 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#womensShow {
  padding: 1rem 1rem 4rem 1rem;
  display: flex;
  gap: 1rem;

  flex-wrap: wrap;
}
#jeweleryShow {
  padding: 1rem 1rem 4rem 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#electShow {
  padding: 1rem 1rem 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* MODAL */

.modal img:hover {
  transform: none;
}
.modal {
  display: none;
  height: 340px;
  position: absolute;
  z-index: 1000;
  left: 7%;
  top: 0;
  overflow: hidden;
  background-color: yellow;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modalContent {
  position: relative;
  padding: 20px;
  max-width: 1000px;
  height: 100%;
  background-color: rgb(190, 193, 99);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal .title {
  font-size: 1rem;
  font-weight: 400;
  text-transform: lowercase;
  margin-bottom: 0.5rem;
  text-overflow: inherit;
  width: 200px;
  white-space: normal;
}
.modal .price {
  margin-bottom: 1rem;
  color: #fff;
}
.modal .buyBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(30, 163, 181, 0.765);
  border: none;
  height: 2rem;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.modal .buyBtn:hover {
  background-color: rgb(30, 163, 181);
}
.buyBtn .material-symbols-outlined {
  font-size: 1rem;
  margin-right: 0.5rem;
}
.qtyDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.qty {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal input {
  width: 22%;
}

.modal .plus {
  height: 1px;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 8%;
  background-color: rgba(70, 73, 73, 0.235);
  height: 1.4rem;
}
.modal .minus {
  height: 1px;
  border: none;
  background: none;
  position: absolute;
  left: 54%;
  top: 0;
  background-color: rgba(70, 73, 73, 0.235);
  height: 1.4rem;
  transition: all 0.5s ease;
}
.modal .minus:hover,
.modal .plus:hover {
  background-color: rgba(70, 73, 73, 0.444);
}
.modal .closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.btnOpenModal {
  margin: 1rem 0 0 6rem;
  border: none;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
}
.flashDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  background: linear-gradient(to right, rgba(255, 192, 203, 0.732), rgba(255, 0, 0, 0.367));
  padding: 0.5rem;
  margin-bottom: 3rem;
}
.flashDiv a{
  text-decoration: none;
  color: #ece3e3;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.signUpPage{
  position: absolute;
  right: 27%;
  z-index: 9999999;
  background-color: #fff;
  width: 200px;
  padding: 1rem;
  height: 220px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px  #ffffff29;
}
.signUpPageDiv{
  display: none;
}
.signUpPage a{
  text-decoration: none;
  margin-left: 1.5rem;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(233, 132, 44, 0.933);
  padding: 0.5rem 2rem;
  transition: all 0.5s ease;
}
.signUpPage a:hover{
  background-color: rgb(233, 133, 44);
}
.signButtons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}
.signButtons button{
  border: none;
  background: none;
  padding: 0.2rem;
  display: flex;
  gap: 0.1rem;
  align-items: center;

  transition: all 0.5s ease-in-out;
}
.signButtons button:hover{
  background-color: #5753534b;
}